.UserInformationPortlet {
}

.columnRole {
  background-color: black;
  color: #00b33c;
  margin: 20px;
  padding: 20px;
}

.columnArticle {
  background-color: black;
  color: #b34700;
  margin: 20px;
  padding: 20px;
}